{% load static %}
{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/fixedheader/3.2.3/js/dataTables.fixedHeader.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="{% static "manipTable.js" %}" defer></script>
        <script src="{% static "formManip.js" %}" defer></script>
        {% tailwind_css %}
    </head>
    <body>
        {% include 'menu.html' %}
        {% block content %}
        {% endblock %}
    </body>
</html>