{% extends 'base.html' %}

{% block content %}
<title>Comptes</title>

<h1>Mise à jour du mot de passe</h1>
<div class="w-full max-w-xs">
    <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" method = "post">
        <div class="mb-4">
            {{ message }}
            {% csrf_token %}
            <label class="block text-gray-700 text-sm font-bold mb-2">Indiquez votre ancien mot de passe: </label><br>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="password" required name="ancienMDP"><br>
            <label class="block text-gray-700 text-sm font-bold mb-2">Indiquez de nouveau votre mot de passe: </label><br>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="password" required pattern={{ regexMDP }} name="nouveauMDP1"><br>
            <label class="block text-gray-700 text-sm font-bold mb-2">Confirmer le nouveau votre mot de passe: </label><br>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="password" required pattern={{ regexMDP }} name="nouveauMDP2"><br>
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">Submit</button>  
        </div>    
    </form>
</div>
{% endblock %}