<nav class="bg-gray-800 p-4">
    <div class="container mx-auto flex justify-between items-center">
        <ul class="flex">
            <li>
                <a class="text-white mx-2" href="{% url 'home' %}">Accueil</a>
            </li>
            <li>
                <ul class="flex">
                    <li><a class="text-white mx-2" href="{% url "general_form" %}">Formulaire de santé générale</a></li>
                    <li><a class="text-white mx-2" href="{% url "stress_form" %}">Formulaire de niveau de stress</a></li>
                </ul>
            </li>
            {% if user.role != 'patient' %}
                <li><a class="text-white mx-2" href="{% url 'historique' %}">Historique</a></li>
                {% endif %}
                {% if user.role == "doctor" %}
            <li><a class="text-white mx-2" href="{% url 'eda' %}">EDA et IA</a></li>
            {% endif %}
            {% if user.is_superuser %}
            <li><a class="text-white mx-2" href="{% url 'attribution' %}">Associé un médecin à un patient</a></li>
            {% endif %}
            {% if user.role != 'patient' %}
            {% endif %}
            <li><a class="text-white mx-2" href="{% url 'consult_stress' %}">Consulter les données sur le stress</a></li>
            <li><a class="text-white mx-2" href="{% url 'consult_general' %}">Consulter les données générales</a></li>
            <li><a class="text-white mx-2" href="{% url 'comptes' %}">Comptes</a></li>
            <li><a class="text-white mx-2" href="{% url 'deconnect' %}">Déconnexion</a></li>
        </ul>
    </div>
</nav>