{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/fixedheader/3.2.3/js/dataTables.fixedHeader.min.js"></script>
    <script src="{% static "manipTable.js" %}" defer></script>
    <title>Document</title>
</head>
<body>
    <!-- Iterate over object_list -->
    <table id="example">
        <thead>
            <tr>
                {% for field_name in field_names %}
                <th>{{ field_name }}</th>
                {% endfor %}
            </tr>
        </thead>
        {% for record in records %}
        <tr>
            {% for value in record.values %}
            <th>{{ value }}</th>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</body>
</html>